
*{
    margin:0;
    padding:0;

}
html{
  
}
.container{
    width:100%;
    height:600px;
    background-color: #fadaa5;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url(Untitled\ design.png);
    background-size: contain;


}
.box1{
    background-color:#fef0cc;
    width:70%;
    height:100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border-left:15px solid black;
    border-bottom: 20px solid black;
    border-right:15px solid black;
    border-radius: 40px;

   
}
.navb{
height : 10%;
width:100%;
background-color:black;
display: flex;
flex-direction: row;
gap:10px;
border-radius: 30px 30px 0px 0px;


}
.name , .options{
    height:100%;
    width:30%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:right;
    gap:20px;
   
}
.options{
    width: 70%;
   
}
.nametag{
    width:90%;
    height:60%;
 
   display: flex;
   flex-direction: row;
   gap:5px;
   justify-content: center;
   align-items: center;

}

.fira-sans-extra-condensed-regular {
    font-family: "Fira Sans Extra Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-extra-condensed-black {
    font-family: "Fira Sans Extra Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  .FirstName{
    color:#f054af;
    font-size:xx-large
  }
  .LastName{
    color:#93d2bd;
    font-size:xx-large;
  }
  .options span{
margin-right:20px;
color:#fef0cc; 
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
  .logo{
    display:none;
  }
  .main{
    width:100%;
    height: 90%;
    display: flex;
    flex-direction: column-reverse;
  }
  .both{
    width:100%;
    height: 35%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    border-radius: 30px;
    gap:50px; 
  
   
  }
  
  .picture{
    width:30%;
    height:100%;
   
background-image: url(Screenshot\ 2024-07-02\ 011006.png);
    background-size: cover;
border-radius: 10px;
} 
.btnb{
    width:30%;
    height:30%;
    align-self: center; 
    margin-bottom: 50px;

}
.topnav{
  display: none;
}
button{
    width:80%;
    height:100%;
    background-image: linear-gradient(to right, #93dec4 , #85eda8);
    border-radius:20px;
    border: 3px solid black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:medium;
    margin-left: 45px;
    margin-bottom: 20px;
    cursor: pointer;
}
.text{

    width:100%;
    height:10%;
    margin-left:150px;
     
}
.text span{
  text-shadow: 3px 3px black; 
  font-size:50px;
  text-align: center;
}
.pic{
  width: 20%;
  height: 40%;
  align-self: center ;
  margin-bottom: 20px;
  background-size: cover;
  background-color: pink;
  border-radius: 30%;
  background-image: url(WhatsApp\ Image\ 2024-02-27\ at\ 7.38.50\ PM.jpeg);
}
.design{
  width:100%;
  height:30%;
  display: flex;
  flex-direction: row;
  gap:10px;
  
  
}
.no , .design2{
  width:40%;
  height:100%;
  margin-left: 20px;
}
/*.no{
  width:40%;
  height:100%;
  background-image: url(nofilter.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 50px;
  margin-left: 30px;
  animation: zoom-in-zoom-out 0.7s ease infinite;

}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
.design2{
  width:40%;
  height:100%;
  background-image: url(Screenshot\ 2024-07-02\ 011128.png);
  background-repeat: no-repeat;
  margin-left: 580px;
  border-radius: 20px;
  
}
*/ 
.picture2
{ width:30%;
  height:80%;
 
background-image: url(Screenshot\ 2024-07-02\ 011128.png);
  background-size: cover;
border-radius: 10px;

}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
}

.lights {
  --color-1: 255, 249, 82;
  --color-2: 0, 234, 255;
  --color-3: 247, 0, 148;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  gap: 30px 40px;
  padding: 30px 0;
  overflow: hidden;
  pointer-events: none;
}

.lights li {
  flex: none;
  position: relative;
  list-style: none;
  width: 15px;
  height: 30px;
  border-radius: 50%;
}

.lights li:before {
  position: absolute;
  content: "";
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background-color: #222;
  border-radius: 100%;
}

.lights li:after {
  position: absolute;
  content: "";
  z-index: -1;
  top: -2px;
  left: 50%;
  width: 54px;
  height: 5px;
  border-bottom: 1px solid #222;
  border-radius: 100%;
}

.lights li:last-child:after {
  display: none;
}

.lights li {
  background-color: rgba(var(--color-1), 1);
  box-shadow: 0 5px 24px 3px rgba(var(--color-1), 1);
  animation: lighting-1 1.25s infinite linear;
}

@keyframes lighting-1 {
  50% {
    background-color: rgba(var(--color-1), 0.25);
    box-shadow: 0 5px 24px 3px rgba(var(--color-1), 0.25);
  }
}

.lights li:nth-child(odd) {
  /* 1, 3, 5, ... */
  background-color: rgba(var(--color-2), 1);
  box-shadow: 0 5px 24px 3px rgba(var(--color-2), 0.8);
  animation: lighting-2 1.5s infinite linear;
}

@keyframes lighting-2 {
  50% {
    background-color: rgba(var(--color-2), 0.4);
    box-shadow: 0 5px 24px 3px rgba(var(--color-2), 0.3);
  }
}

.lights li:nth-child(4n + 2) {
  /* 2, 6, 10, 14, ... */
  background-color: rgba(var(--color-3), 1);
  box-shadow: 0 5px 24px 3px rgba(var(--color-3), 1);
  animation: lighting-3 1.5s infinite linear;
  animation-delay: 1.25s;
}

@keyframes lighting-3 {
  50% {
    background-color: rgba(var(--color-3), 0.25);
    box-shadow: 0 5px 24px 3px rgba(var(--color-3), 0.25);
  }
}
.container2{
  width:100%;
  background-color: pink;
  height:140px;
  background-image: url(lappy.png);
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 768px){
  .container2{
    display: none;
  }
  .design{
    display: none;
  }
  .name{
    display:none;
  }
  .options{
    display: none;
  }
  .logo{
    width: 40%;
    height:100%;
    background-color: pink;
    border-radius :20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }
  .logo span{
   
  }
  

  
}


  

  